* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.input-container {
  display: flex;
  flex-direction: column;
}

.grid-container {
  display: grid;
  width: 600px;
  height: 600px;
  margin-top: 30px;
  line-height: 0;
  border: 1px solid black;
}

.square {
  display: inline-block;
  border: solid 1px red;
  cursor: pointer;
}

.draw {
  background-color: green;
}
